/* -----------------------------------------------------------
configure the desktop app panel structure
three app panels define the main page:
    server-panel
    server-panel-toggle
    contents-tab-controls
plus a set of stacked BrowserViews for content display
----------------------------------------------------------- */
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif; 
    font-size: 15px;
    border-top: 1px solid #888;
} 
.redirect-body {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}
#server-panel, #server-panel-toggle, #contents-tab-controls {
    position: absolute;
    top: 0px;    
}
#server-panel, #server-panel-toggle {   
    height: 100vh;
}

/* inputs and a terminal for configuring the server connection */
#server-panel {
    left: 0px;
    padding: 10px;
}
#server-config {
    font-size: 14px;
}
#terminal {
    border-left: 3px solid black;
    width: 581px; /* determined empirically */
}

/* server-panel tall vertical show/hide button */
#server-panel-toggle {
    left: 604px;
    color: #444;
    border: 1px solid #888;
    border-top: none;
    border-bottom: none;
    background-color: #dfdfdf;
    line-height: 100vh;
    text-align: center;
    font-weight: bold;
    cursor: pointer; 
    padding: 0;
    width: 20px;    
}
#server-panel-toggle:hover {
    background-color: #efefef;
    color: #006;
}

/* tab control panel for the content BrowserViews */
#contents-tab-controls {
    left: 624px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #888;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #dfdfdf;
}
.contents-tab:first-of-type, #rudi-docs-tab, #contents-back {
    border-left: 1px solid #888; 
}
#contents-tabs {
    display: inline-block;
}
.contents-tab {
    display: inline-block;
    line-height: inherit;
    width: 100px;
    text-align: center;
    border-right: 1px solid #888;
    cursor: pointer;
    font-size: 14px;
}
.active-tab {
    background-color: #efefef;
}
.tab-control-link {
    display: inline-block;
    width: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
}
.tab-control-link:hover, .contents-tab:hover {
    color: #00b;
    text-shadow: 1px 1px 1px #efefef;
}
#add-tab {
    border-left: 1px solid #888; 
    border-right: 1px solid #888; 
}
.close-tab {
    margin-left: 8px;
}
.close-tab:hover {
    color: #b00 !important;
    text-shadow: 1px 1px 1px #efefef;  
}

/* -----------------------------------------------------------
style the server-panel options inputs
----------------------------------------------------------- */
hr {
    margin: 7px 0;
}
.action-hyperlink, .get-file-link, .terminal-hyperlink {
    font-size: 13px;
    margin-left: 5px;
    cursor: pointer;
}
#toggleAdvanced {
    margin-left: 200px;
}
#advancedOptions {
    display: none;
}

/* Presets */
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: #b00;
}

/* Server Mode */
#serverModeLabel {
    margin: 7px 0;
}
#serverModes {
    font-size: 0.9em;
}
.optionLabel {
    width: 130px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.optionInput input[type="text"], .optionInput input[type="number"], select {
    width: 390px;
    padding: 3px;
}
select {
    width: 290px; 
}
.optionInput input[type="checkbox"] {
    margin: 5px;
}
.fileOptionInput input[type="text"], .fileOptionInput input[type="number"]  {
    width: 335px;
    padding: 3px;
}

/* server action buttons */
.buttons button{
    display: none;
    width: 100px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #888;
    background-color: #dfdfdf;
}
.buttons button:hover {
    background-color: #efefef;
    box-shadow: 1px 1px 2px #666;
    color: #006;
}
